.about {
    background-color: var(--bg-brown);
    padding: 100px 100px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.eyebrow {
    font-size: 13px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: 3px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-text h2 {
    font-size: 42px;
    font-weight: 700;
    color: var(--text-light);
    text-align: center;
}

.about-text p {
    font-size: 16px;
    color: var(--text-light);
    opacity: 0.75;
    max-width: 100%;
    line-height: 1.8;


}

.about-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stat {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stat h3 {
    font-size: 58px;
    font-weight: 900;
    color: var(--primary);
}

.stat p {
    font-size: 14px;
    color: var(--text-light);
    opacity: 0.75;
}